body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('https://th.bing.com/th/id/R.a7057b5bafd40c3391119b8a2cc474ca?rik=qrewtXk2DNEmuw&pid=ImgRaw');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow-x: hidden; /* Prevent horizontal scrolling */  
}

.jumbotron {
    position: relative;
    width: 92%; /* Changed to percentage for responsiveness */
    max-width: 1200px; /* Increased max-width for larger screens */
    margin: 0 auto;
    height: 75vh; /* Changed to viewport height for responsiveness */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1rem solid black;
    margin-top: 2rem; /* Increased margin-top for better spacing */
}

.jumbotron img {
    width: 98%;
    border: 0.05rem solid black;
    margin-top: 1.4rem;
}

.text-wrapper {
    position: relative;
    top: -38vh; /* Move it higher on the page, using viewport height */
    left: 65%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    font-family: 'Rancho', cursive;
    color: white; /* Ensure text is visible */
}

.letter-white {
    color: white;
    font-size: 5vw; /* Use viewport width for responsive font size */
}

.letter-yellow {
    color: #FFD774;
    font-size: 5vw; /* Use viewport width for responsive font size */
}

.letter-orange {
    color: #FBC00E;
    font-size: 5vw; /* Use viewport width for responsive font size */
}

.letter-light-orange {
    color: #E9A33A;
    font-size: 10vw; /* Use viewport width for responsive font size */
}

.letter-light-orange-large {
    color: #E9A33A;
    font-size: 12.5vw; /* Use viewport width for responsive font size */
}

.letter-red {
    color: #E15B18;
    font-size: 15vw; /* Use viewport width for responsive font size */
}

.letter-red-large {
    color: #E15B18;
    font-size: 20vw; /* Use viewport width for responsive font size */
}

.letter-dark-red {
    color: rgb(223, 47, 16);
    font-size: 25vw; /* Use viewport width for responsive font size */
}

.letter-dark-red-largest {
    color: rgb(223, 47, 16);
    font-size: 30vw; /* Use viewport width for responsive font size */
}

.audio-player {
    display: block;
    margin: 2vh auto; /* Use viewport height for responsive margin */
}

.profile { /*profile class selector properties*/
    position: relative;
}

.profile #moving-image {
    position: absolute;
    margin-top: 1vh; /* Use viewport height for responsive margin */
    width: 20vw; /* Use viewport width for responsive width */
}

.chainborder img { 
    max-width: 92vw; /* Set maximum width using viewport width */
    margin-top: 45vh; /* Use viewport height for responsive margin */
    width: 91vw; /* Use viewport width for responsive width */
    height: 200vh; /* Use viewport height for responsive height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border: 1rem solid black;
    border-width: 1rem 1rem 1rem 1rem; /* Adjust border height */
}

.text-wrapper1 {
    position: absolute;
    top: 175vh; /* Place it at the top of the .chainborder using viewport height */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #A2DCE7;
    font-size: 4vw; /* Use viewport width for responsive font size */
    font-family: 'Sedgwick Ave Display', cursive;
    z-index: 2; /* Set a higher z-index value than .chainborder */
}
.parent-container {
    position: relative;
} 

.text-wrapper2-linkedin {
    position: absolute;
    margin-top: -145vh;
    left: 50%; /* Move the element to the center of the page */
    transform: translateX(-50%); /* Move the element to the left by half of its own width */
    color: #A2DCE7;
    font-family: 'Sedgwick Ave Display', cursive;
    z-index: 4;
    display: flex;
    align-items: center;
}

.text-wrapper2-linkedin img {
    width: 10vw; /* Make the image smaller */
    height: auto;
}

.text-wrapper2-linkedin h3 {
    white-space: nowrap;
    font-size: 5vw;
}

.linkedin-preview {
    display: none;
    position: absolute;
    top: 90%;
    left: 52%; /* Move the element to the center of the page */
    transform: translateX(-50%); /* Move the element to the left by half of its own width */
    width: 50vw; /* Use viewport width for responsive width */
    height: 30vh; /* Use viewport height for responsive height */
    background-image: url('images/linkedin-thumbnail.png'); /* Add background image */
    background-size: cover;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.text-wrapper2-linkedin:hover .linkedin-preview {
    display: block;
}

.text-wrapper2-github {
    position: absolute;
    margin-top: -115vh; /* Move down the page a little */
    left: 47%; /* Move the element to the center of the page */
    transform: translateX(-50%); /* Move the element to the left by half of its own width */
    color: #A2DCE7;
    font-family: 'Sedgwick Ave Display', cursive;
    display: flex;
    align-items: center;
    z-index: 3;
}

.text-wrapper2-github img {
    width: 30vw; /* Make the image smaller */
    height: auto;
    margin-right: -3vw; /* Add a margin to the right of the image */
}

.text-wrapper2-github h3 {
    white-space: nowrap;
    font-size: 5vw;
}

.github-preview {
    display: none;
    position: absolute;
    top: 90%;
    left: 60%; /* Move the element to the center of the page */
    transform: translateX(-50%); /* Move the element to the left by half of its own width */
    width: 50vw; /* Use viewport width for responsive width */
    height: 30vh; /* Use viewport height for responsive height */
    background-image: url('images/github-thumbnail.png'); /* Add background image */
    background-size: cover;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.text-wrapper2-github:hover .github-preview {
    display: block;
}

.text-wrapper2-hackerrank {
    position: absolute;
    margin-top: -85vh; /* Move down the page a little */
    left: 50%; /* Move the element to the center of the page */
    transform: translateX(-50%); /* Move the element to the left by half of its own width */
    color: #A2DCE7;
    font-family: 'Sedgwick Ave Display', cursive;
    z-index: 2;
    display: flex;
    align-items: center;
}

.text-wrapper2-hackerrank img {
    width: 8vw; /* Make the image smaller */
    height: auto;
    margin-right: 2vw; /* Add a margin to the right of the image */
}

.text-wrapper2-hackerrank h3 {
    white-space: nowrap;
    font-size: 5vw;
}

.hackerrank-preview {
    display: none;
    position: absolute;
    top: 90%;
    left: 50%; /* Move the element to the center of the page */
    transform: translateX(-50%); /* Move the element to the left by half of its own width */
    width: 50vw; /* Use viewport width for responsive width */
    height: 30vh; /* Use viewport height for responsive height */
    background-image: url('images/hackerrank-thumbnail.png'); /* Add background image */
    background-size: cover;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.text-wrapper2-hackerrank:hover .hackerrank-preview {
    display: block;
}

.chainborder2 img { 
    max-width: 92vw; /* Set maximum width using viewport width */
    margin-top: 10vh; /* Use viewport height for responsive margin */
    width: 91vw; /* Use viewport width for responsive width */
    height: 200vh; /* Use viewport height for responsive height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border: 1rem solid black;
    border-width: 1rem 1rem 1rem 1rem; /* Adjust border height */
}

.text-wrapper3 {
    position: absolute;
    top: 390vh; /* Place it at the top of the .chainborder using viewport height */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #A2DCE7;
    font-size: 4vw; /* Use viewport width for responsive font size */
    font-family: 'Sedgwick Ave Display', cursive;
}

/* Style for the navigation bar */
.navbar {
    position: relative;
    top: -135vh; /* Place it at the top of the .chainborder using viewport height */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #A2DCE7;
    font-size: 4vw; /* Use viewport width for responsive font size */
    font-family: 'Sedgwick Ave Display', cursive;
    z-index: 10;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown h3 {
    font-size: 3vw; /* Use viewport width for responsive font size */
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: inherit;
    font-size: 4vw;
}

.dropdown .dropbtn {
    font-size: 3vw; /* Use viewport width for responsive font size */
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: inherit;
}

/* Set the background of the dropdown content to transparent */
.dropdown-content {
    display: none;
    position: absolute;
    top: 90%;
    background-color: rgba(0, 0, 0, 0);
    min-width: 20vw; /* Use viewport width for responsive width */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: left;
    color: black;
    padding: 2vw 4vw; /* Use viewport width for responsive padding */
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.navbar2 {
    position: relative;
    top: -138vh; /* Use viewport height for responsive margin */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    color: #A2DCE7;
    font-size: 4vw; /* Use viewport width for responsive font size */
    font-family: 'Sedgwick Ave Display', cursive;
    z-index: 5;
}

.navbar2 img {
    position: relative; 
    top: 4vh; 
    width: 7vw; /* Use viewport width for responsive width */   
    margin-right: 2vw; 
}

.dropdown2 {
    display: inline-block;
    position: relative;
}

.dropdown2 h3 {
    font-size: 4vw; /* Use viewport width for responsive font size */
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: inherit;
}

.dropdown2 .dropbtn2 {
    font-size: 4vw; /* Use viewport width for responsive font size */
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: inherit;
}

/* Set the background of the dropdown content to transparent */
.dropdown2-content2 {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0);
    min-width: 20vw; /* Use viewport width for responsive width */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown2-content2 a {
    float: none;
    color: black;
    padding: 2vw 4vw; /* Use viewport width for responsive padding */
    text-decoration: none;
    display: inline-block;
    text-align: right;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown2:hover .dropdown2-content2 {
    display: block;
    background-color: white;
}

.dropdown2-content2 a:hover {
    background-color: black;
    color: white;
}

.youtube-container {
    margin-top: -40vh; /* Use viewport height for responsive margin */
}





@media screen and (orientation: portrait) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    body * {
        display: none;
    }

    body::before {
        content: "Please rotate your device to view page.";
        display: block;
        font-size: 2rem;
        font-weight: bold; 
    }
}


